.root,
.pane,
.stack-pane {
  -fx-background-color: #1d3549;
  -fx-focus-color: transparent;
  -fx-faint-focus-color: transparent;
}

.date-picker,
.date-picker-popup > .calendar-grid {
    -fx-background-color: #2b506e;
}
.date-picker-popup > * > .date-cell {
	-fx-border-color: #2b506e;
    -fx-background-color: #4785b8;
    -fx-text-fill: white;
}
.date-picker-popup > * > .date-cell:hover {
    -fx-background-color: #5a91bf;
}
.date-picker-popup > * > .date-cell:pressed {
    -fx-background-color: #6c9dc6;
}
.date-picker-popup > * > .day-name-cell {
	-fx-border-width: 0px;
    -fx-background-color: transparent;
}
.date-picker-popup > * > .day-name-cell:hover,
.date-picker-popup > * > .day-name-cell:pressed {
    -fx-background-color: transparent;
}
.date-picker-popup {
	-fx-base: #2b506e;
}
.date-picker .arrow-button,
.date-picker-popup > * > .spinner > .button {
	-fx-text-fill: white;
	-fx-padding: 4 8 7 8;
	-fx-background-insets: 0,0 0 2 0;
	-fx-background-radius: 8;
	-fx-background-color: #1d3549, #4785b8;
}
.date-picker .arrow-button:hover,
.date-picker-popup > * > .spinner > .button:hover {
	-fx-background-color: #1d3549, #4f89ba;
}
.date-picker .arrow-button:pressed,
.date-picker-popup > * > .spinner > .button:pressed {
	-fx-background-color: #4785b8;
	-fx-padding: 6 8 5 8;
	-fx-background-insets: 2 0 0 0, 2 0 0 0;
}


.scroll-pane,
.scroll-pane .viewport,
.scroll-pane .scroll-bar {
	-fx-background-color: transparent;
}
.scroll-pane .scroll-bar .thumb {
	-fx-background-color: #396a93;
}


/*Roughly based off the record-sales button from http://fxexperience.com/2011/12/styling-fx-buttons-with-css/*/
.button {
	-fx-text-fill: white;
	-fx-padding: 4 8 11 8;
	-fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
	-fx-background-radius: 8;
	-fx-background-color: #2b506e, #457fb0, #4f89ba, #4785b8;
}
.button:hover {
	-fx-background-color: #2e5576, #4785b8, #568ebd, #4f89ba;
}
.button:pressed {
	-fx-background-color: #4785b8;
	-fx-padding: 7 8 7 8;
	-fx-background-insets: 2 0 0 0, 2 0 3 0, 2 0 4 0, 2 0 5 0;
}


.menu-bar,
.menu,
.menu-item,
.context-menu {
    -fx-border-width: 0px;
    -fx-background-color: #152837;
}
.menu-item:hover {
    -fx-background-color: #1d3549;
}


.text-field,
.combo-box-base,
.combo-box-popup > .list-view,
.combo-box > .list-cell {
	-fx-background-color: #2b506e;
	-fx-text-fill: #edf3f8;
	-fx-prompt-text-fill: #7ea9cd;
}
.combo-box-popup .list-view {
    -fx-background-color: #2b506e;
}    
.combo-box-popup .list-view .list-cell {
    -fx-background-color: #2b506e;
	-fx-text-fill: #edf3f8;
}
.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover {
	-fx-background-color: #325d81;
}

.combo-box-popup .list-view .list-cell:disabled {
    -fx-background-color: #56636E;
    -fx-text-fill: #C0C0C0;
}


.text-field:focused {
	-fx-background-color: #325d81;
}


.table-view .column-header .label {
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
}


.check-box .text {
	-fx-fill: #edf3f8;
}
.check-box .box {
	-fx-background-color: #4077a5;
}
.check-box:selected .mark {
	-fx-background-color: white;
}


.separator {
	-fx-background-color: transparent;
}
.separator .line {
	-fx-border-width: 1px;
	-fx-border-color: #4077a5;
	-fx-background-color: transparent;
}


.label {
	-fx-text-fill: #dae7f1;
}


.chart .axis:left {
	-fx-tick-length: 10px;
	-fx-tick-label-gap:4px;
	-fx-tick-label-fill: #edf3f8;
	-fx-tick-label-font-size: 12px;
}
.chart .chart-content .chart-plot-background {
	-fx-background-color: #2b506e;
}
.chart .chart-content .chart-horizontal-grid-lines {
	-fx-stroke: #6c9dc6;
}
.default-color0.chart-series-line {
	-fx-stroke: #bbffb7;
	-fx-stroke-width: 2px;
}
.default-color1.chart-series-line {
	-fx-stroke: #c1b7ff;
	-fx-stroke-width: 2px;
}


.split-pane {
	-fx-background-color: transparent;
}
.split-pane .split-pane-divider {
	-fx-background-color: transparent;
}

.progress-bar .track {
	-fx-background-color: transparent;
}
.progress-bar .bar {
	-fx-background-color: #1d3549;
}


.table-view .column-header-background,
.tree-table-view .column-header-background,
.tree-table-view .column-header-background > *,
.table-view .column-header-background > *,
.tree-table-view .column-header,
.table-view .column-header,
.table-view .column-header .label,
.tree-table-view-row-cell,
.table-view-row-cell,
.tree-table-view .placeholder {
	-fx-background-color: #2b506e;
	-fx-text-fill: white;
}

.tree-view,
.tree-table-view,
.table-view,
.table-view .filler,
.tree-view:focused {
	-fx-font-size: 14px;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
	-fx-background-color: #396a93;
	-fx-box-border: hidden;
	-fx-background-radius: 0px;
	-fx-background-insets: 0px;
}

.list-view,
.list-view > .virtual-flow > .scroll-bar,
.table-view > .virtual-flow > .scroll-bar,
.tree-table-view > .virtual-flow > .scroll-bar,
.tree-view > .virtual-flow > .scroll-bar,
.list-view > .virtual-flow > .corner,
.table-view > .virtual-flow > .corner,
.tree-table-view > .virtual-flow > .corner,
.tree-view > .virtual-flow > .corner {
	-fx-background-color: #396a93;
}

.list-view:focused {
  -fx-background-color: #396a93, #396a93;
  -fx-background-insets: 0, 1;
  -fx-padding: 1;
}

.list-view .virtual-flow .scroll-bar .thumb,
.tree-view .virtual-flow .scroll-bar .thumb,
.table-view .virtual-flow .scroll-bar .thumb,
.tree-table-view .virtual-flow .scroll-bar .thumb {
	-fx-background-color: #6c9dc6;
}

.list-cell,
.table-cell, 
.tree-table-cell {
	-fx-text-fill: #edf3f8;
}



.list-view .list-cell,
.tree-view .tree-cell,
.table-row-cell,
.tree-table-row-cell {
	-fx-background-color: #396a93;
}

.list-view .list-cell:selected,
.tree-view .tree-cell:selected,
.table-row-cell:selected,
.tree-table-row-cell:selected {
	-fx-background-color: #4785b8;
}

.status-bar {
	-fx-background-color: #2b506e;
}

.highlighted-row {
    -fx-background-color: #DD0000;
}

.highlighted-row:selected {
    -fx-background-color: #FF1111;
}

.tab-header-background {
	-fx-background-color: #2b506e;
}

.tab {
	-fx-background-color: #4785b8;
}

.tab-label {
	-fx-text-fill: white ;
}

.menu-button {
	-fx-background-color: #2b506e;
	-fx-text-fill: #edf3f8;
	-fx-prompt-text-fill: #7ea9cd;
}

