@font-face {
  src: url("/fonts/OpenSans-Regular.ttf");
}
.root,
.button,
.button:hover,
.button:pressed,
.label {
  -fx-font-family: "Open Sans";
}

.dialog-pane {
  -fx-background-color: #1d3549;
}

.dialog-pane .label {
  -fx-text-fill: white;
  -fx-font-size: 13px;
}

.dialog-pane .header-panel {
  -fx-background-color: #2b506e;
}

.dialog-pane .header-panel .label {
  -fx-font-size: 16px;
}

/*Roughly based off the record-sales button from http://fxexperience.com/2011/12/styling-fx-buttons-with-css/*/
.button {
  -fx-text-fill: white;
  -fx-padding: 4 8 11 8;
  -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
  -fx-background-radius: 8;
  -fx-background-color: #2b506e, #457fb0, #4f89ba, #4785b8;
}
.button:hover {
  -fx-background-color: #2e5576, #4785b8, #568ebd, #4f89ba;
}
.button:pressed {
  -fx-background-color: #4785b8;
  -fx-padding: 7 8 7 8;
  -fx-background-insets: 2 0 0 0, 2 0 3 0, 2 0 4 0, 2 0 5 0;
}

.text-field {
  -fx-background-color: #2b506e;
  -fx-text-fill: #edf3f8;
  -fx-prompt-text-fill: #7ea9cd;
}
.text-field:focused {
  -fx-background-color: #325d81;
}

.date-picker,
.date-picker-popup > .calendar-grid {
  -fx-background-color: #2b506e;
}
.date-picker-popup > * > .date-cell {
  -fx-border-color: #2b506e;
  -fx-background-color: #4785b8;
  -fx-text-fill: white;
}
.date-picker-popup > * > .date-cell:hover {
  -fx-background-color: #5a91bf;
}
.date-picker-popup > * > .date-cell:pressed {
  -fx-background-color: #6c9dc6;
}
.date-picker-popup > * > .day-name-cell {
  -fx-border-width: 0px;
  -fx-background-color: transparent;
}
.date-picker-popup > * > .day-name-cell:hover,
.date-picker-popup > * > .day-name-cell:pressed {
  -fx-background-color: transparent;
}
.date-picker-popup {
  -fx-base: #2b506e;
}
.date-picker .arrow-button,
.date-picker-popup > * > .spinner > .button {
  -fx-text-fill: white;
  -fx-padding: 4 8 7 8;
  -fx-background-insets: 0,0 0 2 0;
  -fx-background-radius: 8;
  -fx-background-color: #1d3549, #4785b8;
}
.date-picker .arrow-button:hover,
.date-picker-popup > * > .spinner > .button:hover {
  -fx-background-color: #1d3549, #4f89ba;
}
.date-picker .arrow-button:pressed,
.date-picker-popup > * > .spinner > .button:pressed {
  -fx-background-color: #4785b8;
  -fx-padding: 6 8 5 8;
  -fx-background-insets: 2 0 0 0, 2 0 0 0;
}

.combo-box-base,
.combo-box-popup > .list-view,
.combo-box > .list-cell {
	-fx-background-color: #2b506e;
	-fx-text-fill: #edf3f8;
	-fx-prompt-text-fill: #7ea9cd;
}
.combo-box-popup .list-view {
    -fx-background-color: #2b506e;
}
.combo-box-popup .list-view .list-cell {
    -fx-background-color: #2b506e;
	-fx-text-fill: #edf3f8;
}
.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover {
	-fx-background-color: #325d81;
}

.combo-box-popup .list-view .list-cell:disabled {
    -fx-background-color: #56636E;
    -fx-text-fill: #C0C0C0;
}

.menu-button {
  -fx-min-width: 200px;
  -fx-background-color: #2b506e;
}

/*.menu-button-popup {*/
  /*-fx-border-width: 0px;*/
  /*-fx-border-color: #2b506e;*/
  /*-fx-background-color: #2b506e;*/
  /*-fx-text-fill: #C0C0C0;*/
/*}*/

.custom-menu-item {
  -fx-border-width: 0px;
  -fx-border-color: #2b506e;
  -fx-background-color: #152837;
  -fx-text-fill: #C0C0C0;
}

.menu-bar,
.menu,
.menu-item,
.context-menu {
  -fx-border-width: 0px;
  -fx-background-color: #152837;
}

.menu-item:hover {
  -fx-background-color: #1d3549;
}

.check-box .text {
  -fx-fill: #edf3f8;
}
.check-box .box {
  -fx-background-color: #4077a5;
}
.check-box:selected .mark {
  -fx-background-color: white;
}