/*
@font-face {
	src: url("/fonts/OpenSans-Regular.ttf");
}
.root,
.button,
.button:hover,
.button:pressed,
.label {
	-fx-font-family: "Open Sans";
}
*/

.button {
	-fx-padding: 1 4 9 4;
	-fx-background-color: #2b506e, #3d729e, #437dad, #4077a5;
}
.button:pressed {
	-fx-padding: 4 4 4 4;
	-fx-background-color: #4077a5;
}